# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
#CocoaPods
Pods
demo/xsdtest/WLFavdef.h
demo/xsdtest/WLFavdef.m
demo/xsdtest/WLFG.h
demo/xsdtest/WLFG.m
demo/xsdtest/WLFG+File.h
demo/xsdtest/WLFG+File.m
demo/xsdtest/WLGroupdef.h
demo/xsdtest/WLGroupdef.m
demo/xsdtest/xsdtest.h
demo2/Address/Address.h
demo2/Address/MYCOMPANYAddress.h
demo2/Address/MYCOMPANYAddress.m
demo2/Address/MYCOMPANYAddress+File.h
demo2/Address/MYCOMPANYAddress+File.m
demo2/Address/MYCOMPANYStreetInfo.h
demo2/Address/MYCOMPANYStreetInfo.m
demo2/Address/MYCOMPANYUnitInfo.h
demo2/Address/MYCOMPANYUnitInfo.m
demos/weblinks-demo/weblinks-ios/generated/Sources
demos/weblinks-demo/weblinks-osx/generated/Sources
